<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/apartados">Teoria B치sica Sistemas de Informaci칩n</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/apartados">Definiciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/apartados">SCRUM</a>
  </li>
</ul>
<br>
<h1>Lista de Apartados del proyecto</h1>
<h2>
	<ol>
		<li>Teoria B치sica Sistemas de Informaci칩n</li>
		<li>Definiciones</li>
		<li>SCRUM</li>
	</ol>
</h2>
