<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/apartados">Teoria Básica Sistemas de Información</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/def_bas">Definiciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/apartados">SCRUM</a>
  </li>
</ul>
