<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../public/stylesheets/sistmis.css">
<title>{{title}}</title>
<head>
  <div class="jumbotron text-center">
    <h2>Metodología agíl</h2>
  </div>
</head>
<body>
  <div class="row">
    <h1>Definicion:</h1>
    <p> Los avances desenfrenados de la tecnología y la competencia constante entre las empresas por llevarse el premio a la más innovadora, ha hecho que cada vez sea mayor la exigencia por productos de calidad, sin descuidar la rápida ejecución y agilidad en los procesos.</p>
    <p>Gracias a esta necesidad surgen los métodos ágiles, los cuales sin duda se convirtieron en los más efectivos que puede utilizar una empresa. </p>
    <p>Entre los más utilizados encontramos Scrum, que es precisamente del cual hablaremos.</p>  
  </div>
  <div class="row">
      <h2>Ventajas:</h2>
      <p>Mejora en 54% la colaboración entre equipos que no acostumbran a trabajar juntos.</p>
      <p>Aumento del 52% en la calidad del software.</p>
      <p>Aumento del 49% en la satisfacción del cliente con el producto.</p>
      <p>Disminución de un 43% en el tiempo de comercialización</p>
      <p>Reducción de un 42% en el coste de desarrollo</p>
      <h2>Desventajas:</h2>
      <p>Ninguna</p>
  </div>
</body>
