<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../public/stylesheets/sistmis.css">
<title>{{title}}</title>
<head>
  <div class="jumbotron text-center">
    <h2>Trujillo Zamudio Fabian Misael</h2>
    <h3>314307307</h3>
    <h4>misaeltrujillozam@gmail.com</h4>
    <h5>Sexto Semestre</h5>
    <link href="image/trujillop.jpg" class="rounded float-right" width="200">
  </div>
  <h5>Mi hobbie: Jugar ajedrez, escuchar música, tambien ir a echar trago :)</h5>
</head>
